body, html {
    height: 100%;
    margin: 0;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
  }
  
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content to the top */
  }
  
  footer {
    text-align: center;
    padding: 1rem;
    margin-top: auto; /* Ensure footer stays at the bottom */
  }
  